<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading (EBRW) and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

The 2018 ACT-SAT Concordance chart published by ACT https://www.act.org/content/act/en/products-and-services/the-act/scores/act-sat-concordance.html

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code:

def meanfnc(numlist):
    return sum(numlist)/len(numlist)

In [4]:
test_num = [3, 42, -6, 0.5]

meanfnc(test_num)

9.875

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [5]:
# Code:

def stddevfnc(numlist):
    
    diff_sqr = []
    
    for x in numlist:
        diff_sqr = diff_sqr + [(x - meanfnc(numlist))**2]
    
    return float(((1/len(numlist)) * sum(diff_sqr)) ** 0.5)

In [6]:
stddevfnc(test_num)

18.83605253231154

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [88]:
# Code:

# after working with the sat_19_df I discovered there were '-' in the 'Participation Rate' column 
# I wrote in a .replace('-', '0') but I realized it actually isn't a 0 participation rate for those territories,
# so I eliminated it.

def per_to_dec(percent):
    """
    this function converts percents in a string (%) format into a decimal, float format.
    """
    return float(percent.replace('%','').replace(' ', ''))/100

In [89]:
per_to_dec('30.25%')

0.3025

In [90]:
per_to_dec('25%')

0.25

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [9]:
# Imports:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

# SAT Total Score/ACT Composite Conversion DF

#### 0.0 Importing Data Set, SAT Total Score/ACT Composite Conversion Tables

In [10]:
# My first data file, which has conversion data for total SAT scores 
# to ACT composites and vice versa

conv_file_path = '../data/2018concordance_table_A1.csv'

dirty_conv_table = pd.read_csv(conv_file_path)

#### 1.0 Printing the head, SAT Total Score/ACT Composite Conversion Tables
I find there are entries that have asterisks. The original Excel file states that these are the SAT scores we should use if we're choosing a single score to correspond to an ACT score. For example, as you can see in the head, there are 4 SAT scores that correspond to an ACT of 36, but the documentation recommends using 1590 if you're not using a range.

In [11]:
dirty_conv_table.head()

     SAT  ACT
0   1600   36
1  *1590   36
2   1580   36
3   1570   36
4   1560   35

#### 2.0 Checking for Nulls, SAT Total Score/ACT Composite Conversion Tables

There are no nulls

In [12]:
dirty_conv_table.isnull().sum()

SAT    0
ACT    0
dtype: int64

#### 3.0 Looking for Obvious Errors in the Data, SAT Total Score/ACT Composite Conversion Tables

I'll need to deal with the asterisk issue for both tables (SAT-->ACT and ACT-->SAT). for the ACT --> SAT I'll need to eliminate the "non-asterisk" values from the SAT so each ACT score only returns one SAT value.

In [13]:
dirty_conv_table.dtypes

SAT    object
ACT     int64
dtype: object

#### 4.0 Fix Errors, SAT Total Score/ACT Composite Conversion Tables

In this section, I make a version of the SAT-->ACT table (s_to_a_df) with the asterisk eliminated and the datatype corrected to integer and I make a version of the ACT-->SAT table (a_to_s_df) that reduces the table to the asterisked SAT values and then removed the asterisk in order to have a 1-to-1 conversion from ACT composite to SAT total score.

In [14]:
s_to_a_df = dirty_conv_table.copy()

In [15]:
s_to_a_df.head()

     SAT  ACT
0   1600   36
1  *1590   36
2   1580   36
3   1570   36
4   1560   35

In [16]:
#this creates the SAT->ACT conversion table without the asterisk and as integer.
s_to_a_df['SAT'] = s_to_a_df['SAT'].map(lambda score: int(score.replace("*", "")) if "*" in score else int(score))

In [17]:
s_to_a_df.head()

    SAT  ACT
0  1600   36
1  1590   36
2  1580   36
3  1570   36
4  1560   35

In [18]:
s_to_a_df.dtypes

SAT    int64
ACT    int64
dtype: object

In [19]:
# this creates the ACT->SAT conversion chart first with asterisk, then eliminates asterisks, converts to int

a_to_s_df = dirty_conv_table.copy()

# eliminate rows that have DON'T have an asterisk

a_to_s_df = a_to_s_df[a_to_s_df['SAT'].map(lambda x: True if '*' in x else False)]

In [20]:
a_to_s_df.head()

      SAT  ACT
1   *1590   36
6   *1540   35
10  *1500   34
14  *1460   33
17  *1430   32

In [21]:
# now eliminate the asterisks as I did for the SAT-> ACT chart

a_to_s_df['SAT'] = a_to_s_df['SAT'].map(lambda score: int(score.replace("*", "")) if "*" in score else int(score))

In [22]:
a_to_s_df.head()

     SAT  ACT
1   1590   36
6   1540   35
10  1500   34
14  1460   33
17  1430   32

In [23]:
a_to_s_df.dtypes

SAT    int64
ACT    int64
dtype: object

#### 5.0 Display Data Types, SAT Total Score/ACT Composite Conversion Tables

I already did this above.

#### 6.0 Correct Data Types, SAT Total Score/ACT Composite Conversion Tables

I already did this above.

#### 7.0 Rename Columns, SAT Total Score/ACT Composite Conversion Tables

In [24]:
s_a_col_dict = {
    "SAT": "sat_tot_score",
    "ACT": "act_composite"
}

In [25]:
s_to_a_df.rename(columns = s_a_col_dict,
                 inplace = True)

In [26]:
s_to_a_df.head()

   sat_tot_score  act_composite
0           1600             36
1           1590             36
2           1580             36
3           1570             36
4           1560             35

In [27]:
a_to_s_df.rename(columns = s_a_col_dict,
                inplace = True)

In [28]:
a_to_s_df.head()

    sat_tot_score  act_composite
1            1590             36
6            1540             35
10           1500             34
14           1460             33
17           1430             32

#### 8.0 Drop Unnecessary Rows, SAT Total Score/ACT Composite Conversion Tables

No unnecessary rows to drop.

# SAT 2019 DF

#### 0.0 Importing Data Set, SAT 2019 DF

In [191]:
raw_sat_19 = pd.read_csv('../data/sat_2019.csv')

sat_19_df = raw_sat_19.copy()

#### 1.0 Printing the head, SAT 2019 DF

In [192]:
sat_19_df.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

#### 2.0 Checking for Nulls, SAT 2019 DF

No nulls

In [193]:
sat_19_df.isnull().sum()

State                 0
Participation Rate    0
EBRW                  0
Math                  0
Total                 0
dtype: int64

#### 3.0 Looking for Obvious Errors in the Data, SAT 2019 DF

.dytpes reveals that the participation rate needs to be converted from a string with '%' to a float.

.describe() shows no surprises.

I discovered '-' in the participation rate column. Looking at the data for those columns, it's clear there was participation. Ultimately, the best solution would be to find the # of eligible students in those territories and calculate participation rate. Do get the correct number would be very involved, so for now I'm eliminating those two territories.

In [194]:
sat_19_df.dtypes

State                 object
Participation Rate    object
EBRW                   int64
Math                   int64
Total                  int64
dtype: object

In [195]:
sat_19_df.shape

(53, 5)

In [196]:
sat_19_df.describe()

             EBRW        Math        Total
count   53.000000   53.000000    53.000000
mean   558.000000  548.471698  1106.528302
std     47.554422   53.785044   100.994784
min    483.000000  445.000000   935.000000
25%    518.000000  506.000000  1024.000000
50%    550.000000  545.000000  1097.000000
75%    610.000000  596.000000  1200.000000
max    636.000000  648.000000  1284.000000

In [197]:
sat_19_df['Participation Rate'].value_counts()

100%    8
3%      6
4%      5
68%     3
66%     2
—       2
70%     2
51%     2
99%     2
7%      2
82%     2
71%     1
31%     1
6%      1
22%     1
19%     1
2%      1
63%     1
79%     1
54%     1
95%     1
20%     1
9%      1
81%     1
41%     1
94%     1
5%      1
18%     1
Name: Participation Rate, dtype: int64

In [198]:
list(sat_19_df.loc[sat_19_df['State'] == 'Virgin Islands']['Participation Rate'])

['—']

In [199]:
sat_19_df[sat_19_df['Participation Rate'] == '—']

             State Participation Rate  EBRW  Math  Total
39     Puerto Rico                  —   483   462    944
47  Virgin Islands                  —   490   445    935

#### 4.0 Fix Errors, SAT 2019 DF

I eliminated the territories that don't report participation rate because I'm more interested in being able to look at participation rates across the remaining 51 states/territories than I am in the additional two SAT data points.

I then converted the remaining 'Participation Rate' entries from strings to floats.

In [200]:
# Dropping the two cases of "-" in 'Participation Rate'
sat_19_df = sat_19_df[sat_19_df['Participation Rate'] != '—']

In [201]:
sat_19_df.shape

(51, 5)

In [202]:
sat_19_df['Participation Rate'] = sat_19_df['Participation Rate'].map(lambda x: per_to_dec(x))

In [203]:
sat_19_df.head()

        State  Participation Rate  EBRW  Math  Total
0     Alabama                0.07   583   560   1143
1      Alaska                0.41   556   541   1097
2     Arizona                0.31   569   565   1134
3    Arkansas                0.06   582   559   1141
4  California                0.63   534   531   1065

In [204]:
sat_19_df.dtypes

State                  object
Participation Rate    float64
EBRW                    int64
Math                    int64
Total                   int64
dtype: object

#### 5.0 Display Data Types, SAT 2019 DF

I already did this above.

#### 6.0 Correct Data Types, SAT 2019 DF

I already did this above.

#### 7.0 Rename Columns, SAT 2019 DF

In [205]:
sat19_col_dict = {
    "State": "state_or_territory",
    "Participation Rate": "sat_participation_rate",
    "EBRW": "ebrw",
    "Math": "math",
    "Total": "sat_total"
}

In [206]:
sat_19_df.rename(columns = sat19_col_dict,
                 inplace = True)

In [207]:
sat_19_df.head()

  state_or_territory  sat_participation_rate  ebrw  math  sat_total
0            Alabama                    0.07   583   560       1143
1             Alaska                    0.41   556   541       1097
2            Arizona                    0.31   569   565       1134
3           Arkansas                    0.06   582   559       1141
4         California                    0.63   534   531       1065

#### 8.0 Drop Unnecessary Rows, SAT 2019 DF

Already did that above, while changing data type for participation rate. NB: Eliminating the section level columns would be acceptable because we won't use them in this analysis.

# ACT 2019 DF

#### 0.0 Importing Data Set, ACT 2019 DF

In [155]:
raw_act2019_df = pd.read_csv('../data/act_2019.csv')

act2019_df = raw_act2019_df.copy()

#### 1.0 Printing the head, ACT 2019 DF

It turns out the section data is missing from this data NB: the 2017 ACT data has it, if a section level comparison becomes desireable.

In [156]:
act2019_df.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

#### 2.0 Checking for Nulls, ACT 2019 DF

No nulls

In [158]:
act2019_df.isnull().sum()

State            0
Participation    0
Composite        0
dtype: int64

#### 3.0 Looking for Obvious Errors in the Data, ACT 2019 DF

.dytpes reveals that the participation rate needs to be converted from a string with '%' to a float.

.describe() shows no surprises.

There are 52 states here, where as there are 51 states and territories in the sat_2019_df once I was finished. I'll handle this once I've merged the data frames.

In [159]:
act2019_df.dtypes

State             object
Participation     object
Composite        float64
dtype: object

In [160]:
act2019_df.describe()

       Composite
count  52.000000
mean   21.450000
std     2.175487
min    17.900000
25%    19.800000
50%    20.950000
75%    23.650000
max    25.500000

In [161]:
act2019_df.shape

(52, 3)

In [168]:
act2019_df['Participation'].value_counts()

100%    15
22%      2
49%      2
21%      2
20%      1
39%      1
24%      1
75%      1
78%      1
12%      1
19%      1
17%      1
42%      1
96%      1
63%      1
25%      1
14%      1
82%      1
95%      1
28%      1
38%      1
6%       1
72%      1
66%      1
29%      1
35%      1
31%      1
80%      1
54%      1
32%      1
13%      1
27%      1
23%      1
73%      1
52%      1
Name: Participation, dtype: int64

#### 4.0 Fix Errors, ACT 2019 DF

I converted the Participation Rate to floats.

In [208]:
act2019_df['Participation'] = act2019_df['Participation'].map(lambda x : per_to_dec(x))

In [209]:
act2019_df.head()

        State  Participation  Composite
0     Alabama           1.00       18.9
1      Alaska           0.38       20.1
2     Arizona           0.73       19.0
3    Arkansas           1.00       19.3
4  California           0.23       22.6

#### 5.0 Display Data Types, ACT 2019 DF

I already did this above.

#### 6.0 Correct Data Types, ACT 2019 DF

I already did this above.

#### 7.0 Rename Columns, ACT 2019 DF

In [210]:
act_col_dict = {
    'State': 'state_or_territory',
    'Participation': 'act_participation_rate',
    'Composite': 'act_composite'
}

In [211]:
act2019_df.rename(columns = act_col_dict,
                 inplace = True)

In [212]:
act2019_df.head()

  state_or_territory  act_participation_rate  act_composite
0            Alabama                    1.00           18.9
1             Alaska                    0.38           20.1
2            Arizona                    0.73           19.0
3           Arkansas                    1.00           19.3
4         California                    0.23           22.6

#### 8.0 Drop Unnecessary Rows, ACT 2019 DF

I waited to eliminate rows with incomplete data until after I merged the SAT and ACT tables

# SAT/ACT by College DF

I'm using this to determine if there are any discrepancies between SAT and ACT scores once converted.

#### 0.0 Importing Data Set, ACT 2019 DF

In [214]:
raw_colleges_df = pd.read_csv('../data/sat_act_by_college.csv')

colleges_df = raw_colleges_df.copy()

#### 1.0 Printing the head, ACT 2019 DF

It turns out the section data is missing from this data NB: the 2017 ACT data has it, if a section level comparison becomes desireable.

In [215]:
colleges_df.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

#### 2.0 Checking for Nulls, ACT 2019 DF

There are some nulls for "Applies to Class Year(s)". Since I'm not interested in this, I'm going to delete that column.

In [216]:
colleges_df.isnull().sum()

School                             0
Test Optional?                     0
Applies to Class Year(s)          26
Policy Details                     0
Number of Applicants               0
Accept Rate                        0
SAT Total 25th-75th Percentile     0
ACT Total 25th-75th Percentile     0
dtype: int64

#### 3.0 Looking for Obvious Errors in the Data, ACT 2019 DF

.dytpes confirms that the 25th-75th Percentile will need to be cleaned to a form that's usable.

.describe() showed a school with ~111k applicants. I checked, and that's UCLA. Further investigaction suggests that the current figure is actually a lot higher (https://newsroom.ucla.edu/releases/increase-in-top-california-applicants-for-fall-2022).

In [217]:
colleges_df.dtypes

School                            object
Test Optional?                    object
Applies to Class Year(s)          object
Policy Details                    object
Number of Applicants               int64
Accept Rate                       object
SAT Total 25th-75th Percentile    object
ACT Total 25th-75th Percentile    object
dtype: object

In [219]:
colleges_df.describe()

       Number of Applicants
count            416.000000
mean           17481.759615
std            17447.621897
min              211.000000
25%             5313.000000
50%            11622.000000
75%            23599.750000
max           111322.000000

In [220]:
colleges_df[colleges_df['Number of Applicants'] == 111322]

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
24,University of California—​Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,12.3%,1290-1510,27-34

#### 4.0 Fix Errors, ACT 2019 DF

No errors discerned.

#### 5.0 Display Data Types, ACT 2019 DF

I already did this above.

#### 6.0 Correct Data Types, ACT 2019 DF

# FIX THE PERCENTILE COLUMNS SO THEY'RE USEABLE

#### 7.0 Rename Columns, ACT 2019 DF

#### 8.0 Drop Unnecessary Rows, ACT 2019 DF

I waited to eliminate rows with incomplete data until after I merged the SAT and ACT tables

#### Steps 9-11 SAVING FOR NOW
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

DO THIS AFTER CLEANING UP SAT AND ACT TABLES

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!